.workPage_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.right-image picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.right-image img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 90%;
  height: 500px;
  border: 1px solid var(--secondary);
  background-color: var(--primary);
  overflow: hidden;
}
.img-head {
  font-size: 18px;
  margin: 30px 0;
  display: -ms-grid;
  display: grid;
  height: 40px;
  width: 100%;
  border-top: 1px solid var(--fpure);
  border-bottom: 1px solid var(--fpure);
  color: var(--fpure);
  place-items: center;
}
.left-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.work-type {
  font-weight: 400;
  font-size: 16px;
  background-color: var(--primary);
  color: var(--fpure);
  padding: 2px 8px;
  display: inline-block;
}
.workPage__heading {
  /* display: inline-block; */
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 40px;
  padding: 10px 0;
  border-bottom: 1px solid var(--secondary);
}
.work-type::first-letter,
.workPage__heading::first-letter {
  text-transform: capitalize;
}
.right-image {
  -webkit-box-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}
.used__tech {
  position: relative;
  margin-top: 20px;
  height: 50px;
}
.used__tech > .work-c-widgets {
  top: 0;
  left: 0;
  gap: 15px;
}
.work-fullpreview-p {
  margin-top: 80px;
  font-size: 24px;
}
.work-fullpreview-box {
  margin: 30px 0 50px 0;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.work-fullpreview-bigScreen,
.work-fullpreview-smallScreen {
  border: 1px solid var(--secondary);
  overflow: scroll;
  padding: 50px 20px;
  overflow-x: hidden;
  background-color: var(--primary);
}
.work-fullpreview-bigScreen {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.work-fullpreview-smallScreen {
  width: 350px;
}
@media only screen and (max-width: 990px) {
  .right-image {
    margin-top: 30px;
  }
  .work-fullpreview-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 800px;
  }
  .work-fullpreview-bigScreen,
  .work-fullpreview-smallScreen {
    padding: 20px;
    width: 100%;
  }
  .work-fullpreview-bigScreen {
    -webkit-box-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
  }
  .work-fullpreview-smallScreen {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .work-fullpreview-box.single {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .work-fullpreview-box.single .work-fullpreview-bigScreen {
    padding: 0;
  }
}
@media only screen and (max-width: 450px) {
  .workPage_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .right-image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .left-content {
    margin-top: 30px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
  }
  .right-image img {
    width: 100%;
    max-height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .workPage__heading {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
  }
  .work-fullpreview-p {
    font-size: 18px;
    margin-top: 30px;
  }
}
